<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <title>Contact Couterra</title>
   <link href="../static/contact.css" rel="stylesheet" type="text/css">
</head>
<body class="body">
   <div class="navbar-2">
      <div class="container w-container">
         <a href="/" class="logo"><img src="../static/images/couterra-logo.svg"></a>
         <nav class="nav w-nav-menu">
            <a href="/" class="nav-component w-nav-link">About</a>
            <a href="ethical-brands" class="nav-component w-nav-link">Ethical Brands</a>
            <a href="fashion-exchange" class="nav-component w-nav-link">Fashion Exchange</a>
            <a href="contact" class="nav-component w-nav-link">Contact</a>
         </nav>
      </div>
   </div>
   <div class="about-section">
      <div class="container-2">
         <div class="information">
            <div class="heading-small">We&#x27;re listening. Wanna help us make Couterra even better?<br></div>
            <div class="form">
               <form id="email-form" name="email-form" data-name="Email Form" method="POST" class="form-wrap">
                  <input class="text-field" maxlength="256" name="name" placeholder="Enter your name" required="">
                  <input type="email" class="text-field" maxlength="256" name="email" placeholder="Enter your email" required="">
                  <textarea placeholder="Enter your message" maxlength="5000" name="message" class="text-area"></textarea>
                  <input type="submit" value="Submit" class="button-small">
               </form>
            </div>
         </div>
         <div class="photography-container">
            <a class="photography-wrapper-02 w-inline-block"><img src="../static/images/couterra-contact.jpg" width="373" sizes="(max-width: 479px) 78vw, 373px" class="photography"></a>
         </div>
      </div>
   </div>
   <div class="footer">
      <div class="footer-wrapper">
         <div class="w-layout-grid footer-grid">
            <div class="footer-links">
               <a href="/" class="logo"><img src="../static/images/couterra-logo.svg" class="logo"></a>
            </div>
            <div class="footer-links">
               <div class="sub-heading">pages</div>
               <a href="/" class="footer-link">About</a>
               <a href="ethical-brands" class="footer-link">Ethical Brands</a>
               <a href="fashion-exchange" class="footer-link">Fashion Exchange</a>
               <a href="contact" class="footer-link">Contact</a>
            </div>
         </div>
         <div>
            <a href="https://www.linkedin.com/in/r0a" target="_blank" class="footer-credits">&copy; Site by Roa Brahimi</a>
         </div>
      </div>
   </div>
</body>
</html>