<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <title>Fashion Exchange</title>
   <link href="../static/fashion-exchange.css" rel="stylesheet" type="text/css">
</head>
<body class="body">
   <div class="navbar-2">
      <div class="container w-container">
         <a href="/" class="logo"><img src="../static/images/couterra-logo.svg"></a>
         <nav class="nav w-nav-menu">
            <a href="/" class="nav-component w-nav-link">About</a>
            <a href="ethical-brands" class="nav-component w-nav-link">Ethical Brands</a>
            <a href="fashion-exchange" class="nav-component w-nav-link">Fashion Exchange</a>
            <a href="contact" class="nav-component w-nav-link">Contact</a>
         </nav>
      </div>
   </div>
   <div class="hero-section">
      <div class="hero-wrapper">
         <h1 class="hero-heading">Fashion Exchange<br></h1>
         <p class="hero-paragraph">Post and find clothes</p>
         <br>
         <a class="btn" href="post" >POST</a><br>
         <a class="btn" href="find" >FIND</a>
      </div>
   </div>
   <div class="footer">
      <div class="footer-wrapper">
         <div class="w-layout-grid footer-grid">
            <div class="footer-links">
               <a href="/" class="logo"><img src="../static/images/couterra-logo.svg" class="logo"></a>
            </div>
            <div class="footer-links">
               <div class="sub-heading">pages</div>
               <a href="/" class="footer-link">About</a>
               <a href="ethical-brands" class="footer-link">Ethical Brands</a>
               <a href="fashion-exchange" class="footer-link">Fashion Exchange</a>
               <a href="contact" class="footer-link">Contact</a>
            </div>
         </div>
         <div>
            <a href="https://www.linkedin.com/in/r0a" target="_blank" class="footer-credits">&copy; Site by Roa Brahimi</a>
         </div>
      </div>
   </div>
</body>
</html>