<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <title>Couterra</title>
   <link type="text/css" href="{{url_for('static', filename='../static/index.css')}}" rel='stylesheet' />
</head>
<body class="body">
   <div class="navbar-2">
      <div class="container w-container">
         <a href="/" class="logo"><img src="../static/images/couterra-logo.svg"></a>
         <nav class="nav w-nav-menu">
            <a href="/" class="nav-component w-nav-link">About</a>
            <a href="ethical-brands" class="nav-component w-nav-link">Ethical Brands</a>
            <a href="fashion-exchange" class="nav-component w-nav-link">Fashion Exchange</a>
            <a href="contact" class="nav-component w-nav-link">Contact</a>
         </nav>
      </div>
   </div>
   <div class="hero-section">
      <div class="hero-wrapper">
         <h1 class="hero-heading">COUTERRA<br></h1>
         <p class="hero-paragraph">LOOK GOOD, DO GOOD</p>
      </div>
   </div>
   <div class="work-section">
      <div class="container-2">
         <div class="information">
            <p class="sub-heading">Featured</p>
            <div class="heading">Eileen Fisher, Inc.</div>
            <p class="paragraph">Eileen Fisher, Inc. was named a Certified B Corporation back in 2015. Eileen Fisher&#x27;s commitment to transparency and honesty, as well as their ethical and one-of-a-kind retail concept, are some of the reasons they were selected for this designation.</p>
         </div>
         <div class="photography-container">
            <a class="photography-wrapper w-inline-block"><img src="../static/images/eileenfisher-2.jpg" width="245" sizes="(max-width: 479px) 100vw, 245px" class="photography"></a>
            <a class="photography-wrapper-02 w-inline-block"><img src="../static/images/eileenfisher-1.png" width="308" sizes="(max-width: 479px) 100vw, 308px" class="photography"></a>
            <a class="photography-wrapper-03 w-inline-block"><img src="../static/images/eileenfisher-3.jpg" width="240" sizes="240px" class="photography"></a>
         </div>
      </div>
      <div class="container-2">
         <div class="information">
            <p class="sub-heading">Featured</p>
            <div class="heading">Finisterre</div>
            <p class="paragraph">Finisterre has been a certified B corporation since 2018 and is committed to creating high-quality products. The company creates outdoor apparel with an emphasis on comfort and low environmental impact, demonstrating a commitment to quality and sustainability.</p>
         </div>
         <div class="photography-container">
            <a class="photography-wrapper w-inline-block"><img src="../static/images/finisterre-1.jpg" width="269"  class="photography"></a>
            <a class="photography-wrapper-02 w-inline-block"><img src="../static/images/finisterre-2.jpg" width="316"  class="photography"></a>
            <a class="photography-wrapper-03 w-inline-block"><img src="../static/images/finisterre-3.jpg" width="297"  class="photography"></a>
         </div>
      </div>
      <div class="container-2">
         <div class="information">
            <p class="sub-heading">Featured</p>
            <div class="heading">Athleta, Inc.</div>
            <p class="paragraph dark-text">Athleta, Inc. is committed to ethics in all phases of its production and distribution operations. As evidenced by its B corporation designation in 2018, the company has been acknowledged as a pioneer in the sustainable performance apparel sector.</p>
         </div>
         <div class="photography-container">
            <a class="photography-wrapper w-inline-block"><img src="../static/images/athleta-3.jpg" width="245"  class="photography"></a>
            <a class="photography-wrapper-02 w-inline-block"><img src="../static/images/athleta-2.jpg" width="308"  class="photography"></a>
            <a class="photography-wrapper-03 w-inline-block"><img src="../static/images/athleta-1.jpg" width="240"  class="photography"></a>
         </div>
      </div>
   </div>
   <div class="footer">
      <div class="footer-wrapper">
         <div class="w-layout-grid footer-grid">
            <div class="footer-links">
               <a href="/" class="logo"><img src="../static/images/couterra-logo.svg" class="logo"></a>
            </div>
            <div class="footer-links">
               <div class="sub-heading">pages</div>
               <a href="/" class="footer-link">About</a>
               <a href="ethical-brands" class="footer-link">Ethical Brands</a>
               <a href="fashion-exchange" class="footer-link">Fashion Exchange</a>
               <a href="contact" class="footer-link">Contact</a>
            </div>
         </div>
         <div>
            <a href="https://www.linkedin.com/in/r0a" target="_blank" class="footer-credits">&copy; Site by Roa Brahimi</a>
         </div>
      </div>
   </div>
</body>
</html>